.contact-form {
    max-width: 650px;
    margin: auto;
    padding: 40px;
    background-color: #4a90e2;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}



.explanation {
    padding: 60px; /* Espacement intérieur */
    background-color: #f9f9f9; /* Couleur de fond pour la section explicative */
    border: 1px solid #ccc; /* Bordure autour de la section */
    border-radius: 5px; /* Coins arrondis */
    margin-left: 30px;
}

.row {
    align-items: flex-start; /* Aligner les colonnes en haut */
}

h2 {
    margin-bottom: 30px; /* Espace entre le titre et les colonnes */
}

.label-container {
    display: block; /* Pour faire en sorte que chaque label prenne toute la largeur */
    border: 2px solid #8533e2; /* Couleur de la bordure */
    border-radius: 5px; /* Pour des coins arrondis */
    padding: 10px; /* Espacement intérieur */
    margin-bottom: 15px; /* Espacement entre les labels */
    background-color: #4caf50; /* Couleur de fond (facultatif) */
}

    .label-container input,
    .label-container textarea {
        border: none; /* Supprimer la bordure par défaut */
        width: 100%; /* Prendre toute la largeur */
        padding: 8px; /* Espacement intérieur pour les champs de saisie */
        margin-top: 5px; /* Espacement au-dessus des champs de saisie */
        border-radius: 3px; /* Pour des coins arrondis */
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre interne pour les champs de saisie */
    }

.contact-form h2 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    font-size: 2.2rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
}

.contact-form textarea {
    min-height: 250px;
}

.contact-form button {
    width: 50%;
    background: #28a745;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 5px;
}

    .contact-form button:hover {
        background: #218838;
    }

.error {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}
